
<footer>
    <div id="footer">
        <div id="footer-content">
            <h2>Asthetic Dwelling</h2>
            <p> "Designing Dreams, Creating Comfort"</p>

        </div>
        <div id="payment-partners">
            <h2>Payment Partner</h2>
            <div class="pay">
                <img src="/static/image/khalti.jpg" alt="" width="100px" height="45px">

            </div>
            <div class="pay">
                <img src="/static/image/esewa.jpg" alt="" width="100px" height="45px">

            </div>
            


        </div>
    </div>

<div id="footer-link">
    <ul>
        <li class="items"><a href="{% url 'terms' %}">Terms & Conditions</a></li>
        <li class="items"><a href="{% url 'privacy' %}">Privacy Policy</a></li>
       
    </ul>

</div>

</footer>
